





.photo1 {
	background-image: url("filname.jpg");
}

.photo2 {
	background-image: url("filname.jpg");
}

.photo3 {
	background-image: url("filname.jpg");
}

.photo4 {
	background-image: url("filname.jpg");
}

.photo5 {
	background-image: url("filname.jpg");
}

