
body {
	font-family: helvetica;
	font-size: 20px;
	background-color:darkgrey;
}


.headline, .headline2 {
	text-align: center;
}


.headline {
	font-size: 40px;
}


.headline2{
	font-style: italic;
	margin-top: 50px;
}


.row1-container {
	width:100%;
	height:300px;
}

.row1 {
	text-align: center;
	margin: 0 auto;
	width:99.9%;
	height:100%;
	border: 2px solid red;
	
}






.row2-container {
	width:100%;
	height:200px;

}

.row2 {
	text-align: center;
	margin: 0 auto;
	width:99.9%;
	height:100%;
	border: 2px solid green;
}

.all-photos {
	/*float:left;*/
	border:2px solid black;
	background-repeat: no-repeat;
	display:inline-block;
	border-radius: 30%;

}

.photo1 {
	background-image: url("guitar1.jpg");
	background-size: 100% 100%;
	height:100%;
	width:40%;	
}

.photo2 {
	background-image: url("guitar2.jpg");
	background-size:100% 100%;
	height:100%;
	width:40%;


}

.photo3 {
	background-image: url("guitar3.jpg");
	background-size: 100% 100%;
	height:100%;
	width:28%;	

}

.photo4 {
	background-image: url("guitar2.jpg");
	background-size: 100% 100%;
	height:100%;
	width:28%;	

}

.photo5 {
	background-image: url("guitar3.jpg");
	background-size: 100% 100%;
	height:100%;
	width:28%;	

}





/*Portfolio1 Page*/

.main-container {
	margin:0 auto;
	text-align: center;
	width:100%;
	height:1000px;
}

.all-columns {
	display:inline-block;
	width:30%;
	text-align: center;
	margin: 0 auto;

}

.all-photos-2{

	display:inline-block;

}


.photo1-2 {
	background-image: url("guitar2.jpg");
	background-size:100% 100%;
	height:100%;
	width:40%;

}

.photo2-2 {
	background-image: url("guitar2.jpg");
	background-size:100% 100%;
	height:100%;
	width:40%;

}

.photo3-2 {
	background-image: url("guitar2.jpg");
	background-size:100% 100%;
	height:100%;
	width:40%;
}

.all-photos-2 {
	width:200px;
	height:100px;
}


/*Desktop First Media Queries*/

/* Extra Wide Desktops*/


/*@media all and (min-width: 1200px) {

}*/

/* Tablets and small desktop */
@media all and (min-width: 768px) and (max-width: 979px) {
	
	.headline, .headline2 {
	font-size: 30px;
	}

	.headline2 {
	margin-top: 25px;
	}
}

/* Phone in landscape mode, small tablet */
@media all and (max-width: 767px) {

}

/* Smaller Phone, phone in portrait mode */
@media all and (max-width: 480px) {

	.all-columns {
	display:inline-block;
	width:100%;

	}

	.headline {
		font-size:25px;
	}

}


